<!DOCTYPE html>
<html>

<head>
    <title>Bin2Dec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .form-group {
            max-width: 150px;
        }

        .answer {
            font-weight: bold;
            font-size: 24px;
        }
    </style>

</head>

<body>
    <div class="container">
        <h1>Welcome to Bin2Dec!</h2>
            <small class="form-text text-muted">Convert binary to decimal and viceversa.</small>
            <br>
            <form method="POST">
                <div>

                    <div class="form-group my-0">
                        <label for="numberInput">Number:</label>
                        <input type="text" class="form-control" name="numberInput" id="numberInput" placeholder="###"
                            inputmode="numeric" pattern="[0-9]*">
                    </div>
                    <div class="custom-control custom-switch py-3">
                        <input type="checkbox" class="custom-control-input" name="decimalSwitch" id="decimalSwitch">
                        <label class="custom-control-label" for="decimalSwitch">Convert decimal to binary.</label>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="answer py-3">
                {{data}}
            </div>
    </div>
</body>

</html>